.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: clamp(500px, 60vw, 800px);
  color: #F54C80;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: #F54C80;
}

.button {
  /* border: 1px solid #F54C80; */
  /* padding: .5rem; */
  font-size: 1.5rem;
  cursor: pointer;
}

.left {
  
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}