.container {

}

.timeButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultData{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#wpm {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0;
}

#accuracy {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0;
}