.words {
  display: flex;
  flex-wrap: wrap;
  width: clamp(500px, 50vw, 800px);
}

.row {
  display: flex;
  gap: .6rem;
}

.word {
  display: flex;
  font-size: 1.75rem;
  color: #939EAD;
}

.correct {
  border: 1.5px solid #F54C80;
}

.active {
  border: 1.5px solid #F54C80;
}

.incorrect {
  border: 1.5px solid red;
  background-color: red;
  color: white;
}

.final-correct {
  color: white;
}

.final-incorrect { 
  color: red;
}