.words {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
}

.word {
  display: flex;
  margin: 0 .2rem;
  font-size: 1.75rem;
  color: #939EAD;
}

.correct {
  border: 1.5px solid rgb(245, 76, 128);
}

.active {
  border: 1.5px solid rgb(245, 76, 128);
}

.incorrect {
  border: 1.5px solid red;
  background-color: red;
}

.final-correct {
  color: white;
}

.final-incorrect { 
  color: red;
}