.words {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: .6rem;
  height: clamp(40px, 80px, 100px);
  width: clamp(500px, 60vw, 800px);
}

.word {
  display: flex;
  font-size: 1.75rem;
  color: #939EAD;
}

.correct {
  border: 1.5px solid #F54C80;
}

.active {
  border: 1.5px solid #F54C80;
}

.incorrect {
  border: 1.5px solid red;
  background-color: red;
  color: white;
}

.final-correct {
  color: white;
}

.final-incorrect { 
  color: red;
}

.not-passed {
  
}