
.container {
  min-height: 100vh;
  background-color: rgb(51, 58, 69);
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle {

}

.bottom {
  
}
