
.container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  gap: .5rem;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(800px, 60vw, 875px);
  /* border: 1px solid black; */
}

.test-wrapper > * {
  padding: .5rem;
}

.no-outline:focus {
  outline: none;
}